//内容部分宽度
.content {
    max-width: 1200px !important;
}


//sidebar
.sidebar .sidebar-links {
  padding: 1.5rem 1.5rem !important;  
}


.sidebar .sidebar-links li {
  // height: 40px !important;  
  line-height: 40px !important;
  font-size: 14px !important;
}


a.sidebar-link.active {
  border-right: 3px solid #1893ff !important;
  border-left: 3px solid transparent !important; 
  color: blue !important;
  font-weight: 400;
}
a.sidebar-link:hover {
  color:  #1893ff !important;
}
//上下文连接
.page-edit, .page-nav{
  max-width: 1038px;  
}
h1{
  font-size: 24px;
}
h2{
  font-size: 20px;
}
h3{
  font-size: 16px;
}
//代码颜色配置
.token.number, .token.function {
  color: yellow;
}

//表格的第一列宽度
table th:first-of-type {
	width: 100px;
}
